<ul>
    <li> <a href="./">HOME</a></li>
    <li><a href="./resources">RESOURCES</a></li>
    <li><a href="#">ABOUT</a></li>
</ul>
<button id="flashitButton" type="button" onclick="enableFlashit()">Sicko Mode</button>