<div id="side-menu">
    <ul>
        <li>
            <h1>
                <b>
                     Language
                </b>
            </h1>
        </li>
        <li ><a class="code" href="#">JavaScript</a></li><br/>
        <li ><a class="code" href="#">Java      </a></li><br/>
        <li ><a class="code" href="#">Python    </a></li><br/>
        <li ><a class="code" href="#">Swift     </a></li><br/>
        <li ><a class="code" href="#">C++       </a></li><br/>
        <li ><a class="code" href="#">HTML      </a></li><br/>
        <li ><a class="code" href="#">CSS       </a></li><br/>
        <!--<li ><a class="code" href="#">JavaScript</a></li><br/>-->
        <!--<li ><a class="code" href="#">JavaScript</a></li><br/>-->
        <!--<li ><a class="code" href="#">JavaScript</a></li><br/>-->
        <!--<li ><a class="code" href="#">JavaScript</a></li><br/>-->
        <!--<li ><a class="code" href="#">JavaScript</a></li><br/>-->
        <!--<li ><a class="code" href="#">JavaScript</a></li><br/>-->
    </ul>
</div>