@import url('https://fonts.googleapis.com/css?family=Oxygen');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oxygen', sans-serif;
}

footer {
    position: absolute;
    width: 100vw;
    background-color: gray;
    bottom: 0;
}