@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inconsolata', monospace;
    background-color: #ffffff;
}

footer {
    position: absolute;
    width: 100vw;
    background-color: #000f64;
    bottom: 0;
    color: #ffffff;
}

header {
    font-weight: bold;
    width: 100vw;
    height: 50px;
    background-color: #000f64;
    text-align: center;
}

header ul li {
    display: inline;
    margin: 35px;
}

header ul li a {
    color: #ffffff;
    font-size: 20pt;
}

header ul li a:hover {
    transition: 0.1s;
    color: #aaa3ff;
}

.main {
    padding: 10px;
}

.main ul {
    margin-left: 15px;
}

.main a {
    color: #000f64;
}

.main a:visited {
    color: #000f64;
}

.main a:active {
    color: #000f64;
}

a {
    text-decoration: none;
}

.code {
    display: inline-block;
    background-color: #acacac;
    padding: 5px;
    margin: 5px;
    border: 2px solid #868686;
    border-radius: 5px;
}