<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>404</title>
    </head>
    
    <header>
        <%- include ../partials/header.ejs %>
    </header>

    <body>

    </body>

    <footer>
        <%- include ../partials/footer.ejs %>
    </footer>
</html>