<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Uh Oh - 404</title>
        <link href="../styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <%- include ../partials/header.ejs %>
        </header>
        
        <h1>Uh Oh</h1>
        <h3>It looks like you ran into the wrong place<br/>Let me show you <a href="./">home</a> kiddo</h3>

        <footer>
            <%- include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
