<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Admin Page</title>
        <% include ../partials/imports.ejs %>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd-IgsRmEAmreJIJDoQAwY01j9qPyai3o&callback=initMap"></script>
    </head>
    <script>
        function logout(){
            $.ajax({
                url: "./logout"
            })
            .done(function(){
                location.href = location.href; //reloads page
            })
        }

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {zoom: 4, center: {lat: 0, lng: 0}});
            $.ajax({
                url: "./ips"
            })
            .done(function(res){
                for(var i = 0; i < res.length; i++){
                    var marker = new google.maps.Marker({position: {lat: parseFloat(res[i].lat), lng: parseFloat(res[i].lon)}, map: map});
                }
            })
        }
    </script>
    <body>
        <header>
            <%- include ../partials/header.ejs %>
        </header>
        
        <% if(loggedIn != true){ %>
            <form action="./admin" method="post">
                <input type="text" name="username"/>
                <input type="password" name="password"/>
                <input type="submit" value="Login"/>
            </form>
        <% }else{ %>
            <h1>Welcome</h1>
            <div id="map" style="width: 100%; height: 300px;"></div>
            <button onclick="logout()">Logout</button>
        <% } %>

        <footer>
            <%- include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
