<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Home</title>
        <link href="../styles.css" rel="stylesheet" type="text/css">
        <script>
            
        </script>
    </head>

    <header>
        <%- include ../partials/header.ejs %>
    </header>

    <body>

    </body>

    <footer>
        <%- include ../partials/footer.ejs %>
    </footer>
</html>