<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Home</title>
        <link href="../styles.css" rel="stylesheet" type="text/css">
        <script>
            
        </script>
    </head>

    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>
        <div>
            <ul>
                <li>STarr</li>
                <li>Hi Rishav</li>
                <li>Hi Risha</li>
                <li>Hi Rish</li>
                <li>Hi Ris</li>
                <li>Hi Ri</li>
                <li>Hi R</li>
                <li>Hi Ri</li>
                <li>Hi Ris</li>
                <li>Hi Rish</li>
                <li>Hi Risha</li>
                <li>Hi Rishav</li>
                <li>STarr</li>
            </ul>
        </div>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </body>

</html>