<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Home</title>
        <link href="../styles.css" rel="stylesheet" type="text/css">
        <script>
            
        </script>
    </head>

    <body>
        <header>
            <%- include ../partials/header.ejs %>
        </header>

        <footer>
            <%- include ../partials/footer.ejs %>
        </footer>
    </body>

</html>
