<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Home</title>
        <% include ../partials/imports.ejs %>
    </head>

    <body>
        <header>
            <% include ../partials/header.ejs %>
            
        </header>

        <div class="main">
            <h1 >Welcome</h1>
            <h3 >Helping Learn Code For the Better</h3>
            <p >To start, choose a tutorial to follow</p>
            <div class="code">
                //this is a code block<br/>
                var ye = 5;
            </div>
        </div>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </body>

</html>
