<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Home</title>
        <% include ../partials/imports.ejs %>
    </head>

    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>
        <%- include ../partials/sideMenu.ejs %>
        <div class="main">
            <h1 >Welcome</h1>
            <h3 >Helping Learn Code For the Better</h3>
            <p >To start, choose a tutorial to follow</p>
            <p style='color: firebrick'>Currently, we do not have very extensive tutorials to follow but more will be added in the future</p>
            <br/>
        </div>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </body>

</html>
