<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Uh Oh - 404</title>
        <% include ../partials/imports.ejs %>
    </head>
    <body>
        <header>
            <%- include ../partials/header.ejs %>
        </header>
        
        <div class="main">
            <h1 >Resources</h1>
            <ul>
                <li>
                    <h3 >Coding Help</h3>
                    <ul>
                        <li><a href="https://stackoverflow.com/">Stack Overflow</a></li>
                        <li><a href="https://hackhands.com/">Hack Hands</a></li>
                        <li><a href="https://www.codementor.io/free-experts">Codementor</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <footer>
            <%- include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
